@font-face {
    font-family: 'SNOWFLAKE DECORATIVE';
    src: url('SNOWFLAKEDECORATIVE.woff2') format('woff2'),
        url('SNOWFLAKEDECORATIVE.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

