* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.board {
    width: 300px;
    height: 300px;
    align-items: center;
    margin: 30px;

}


.board-cell {
    background-color: red;
    width: 30px;
    height: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    float: left;
}

.food-box {
    background-color: red;
    width: 60px;
    height: 60px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    float: left;

}